footer {
  position: absolute;
  bottom: -1300px;
  height: 300px;
  padding: 56px;
  width: 800px;
  font-size: 13px;
  color: grey;
  margin: 0 auto;
}

.social-medias {
  display: flex;
  gap: 20px;
}

.links {
  display: flex;

  padding: 10px 0;
}

.links div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 30px;
}

.links div a {
  margin: 10px;
}

.site-info {
  margin: 10px;
  color: #d9d9d9;
}
